#TitleBarArea {
    background-color: rgb(200, 200, 200);
}

#ControllBarArea {
    padding: 0px;
}

#ControllBarArea, #ControllBarArea QLabel  {
    background-color: rgb(200, 200, 200);
}


#ControllBarArea QLabel {
    color: rgb(0, 0, 0);
}

#ThumbList {
    background-color: aqua;
}
