
#TitleBarArea {
    background-color: rgb(200, 200, 200);
}

#ControllBarArea {
    border-top: 100px;
    padding: 0px;
}

#ControllBarArea, #ControllBarArea QLabel  {
    background-color: rgb(200, 200, 200);
}

#BookArea *, QSplitter::handle {
    background-color: rgb(247, 245, 245);
}

#ControllBarArea QLabel {
    color: rgb(0, 0, 0);
}

#ThumbArea {
    border: 0px;
    margin: 0px;
}

#ThumbArea, #ThumbArea * {
    background-color: rgb(105, 105, 105);
}

#ThumbArea QLabel {
    color: white;
}

QScrollBar:vertical {
    border-top: 4px solid rgb(105, 105, 105);
    border-right: 4px solid rgb(105, 105, 105);
    border-bottom: 4px solid rgb(105, 105, 105);
    width: 18px;
    margin: 0;
}

QScrollBar::handle:vertical {
    background: rgb(200, 200, 200);
    min-height: 80px;
}

QScrollBar::add-line:vertical {
    height: 0;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    height: 0;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

#ScaleSettingPopup {
    border-radius: 8px;
    /* border-width: 1px;
    border-color: rgb(166, 166, 166);
    border-style: solid; */
    /* background-color: rgb(154, 218, 235); */
}

#ScaleSettingPopup #AutoScaleArea {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(200, 200, 200);
    border-bottom: 1px solid rgb(247, 245, 245);
    padding: 10px;
}

#ScaleSettingPopup #ManualScaleArea {
    background-color: rgb(200, 200, 200);
    border-bottom: 1px solid rgb(247, 245, 245);
    padding: 10px;
}

#ScaleSettingPopup #NoScaleArea {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgb(200, 200, 200);
    padding: 10px;
}
