* {
    background-color: rgb(228, 228, 228);
}

#ControllBarArea {
    padding: 0px;
}

#ControllBarArea, #ControllBarArea QLabel  {
    background-color: rgb(200, 200, 200);
}


#ControllBarArea QLabel {
    color: rgb(0, 0, 0);
}
